{% extends 'students/main.html' %}

{% block content %}

<div class="container">
    <h1>Student Database</h1>
    <a href="{% url 'create' %}" class="btn btn-outline-dark">
        <i class="fas fa-plus"></i>
        Create Student
    </a>

    <br><br>

    <strong>Total No. of Students:</strong> {{ students | length}}
    <br><br>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Student Number</th>
            <th scope="col">Address</th>
            <th scope="col">Degree Program</th>
            <th scope="col">Department</th>
            <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            
            {% for student in students %}
            <tr>
                <td>{{student.name}}</td>
                <td>{{student.student_number}}</td>
                <td>{{student.address}}</td>
                <td>{{student.program}}</td>
                <td>{{student.department}}</td>
                <td>
                    <a href="{% url 'update' student.id %}" class="btn btn-outline-dark">
                        <i class="fas fa-edit"></i>
                        Update Student
                    </a>
                </td>
                <td>
                    <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#delete_student_{{student.id}}">
                        <i class="fas fa-trash"></i>
                        Delete Student
                    </button>

                    <!-- Delete Student Modal -->
                    <div class="modal fade" id="delete_student_{{student.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Student Confirmation</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete {{student.name}}?
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'delete' student.id %}" class="btn btn-outline-success">
                                        <i class="fas fa-trash"></i> Delete
                                    </a>
                                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                                        <i class="fas fa-ban"></i> Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}